__pycache__
.tkk
./*/.tkk
./*/*/.tkk
./translate/package/Translator.py
./translate/package/__init__.py
./translate/package/getTK.py
./translate/package/geten.py
./translate/package/getzh.py
./translate/package/tranen.py
./translate/package/tranpic.py
./translate/package/tranzh.py
tests/mysqlTst.py
tests/sqlTableCreate.py
translate/BingTran.py
translate/bing.py
translate/package/BingTran.py
translate/package/Translator.py
translate/package/bing.py
translate/package/getTK.py
translate/package/tranen.py
translate/package/tranpic.py
translate/package/tranzh.py
build
Google_translate.egg-info
